section.canhcam-step-2(bg-img='./img/cbre/step/step_bg.png')
	.container
		.row.justify-content-center
			.col-10.text-center
				.text
					p Hàng ngàn chủ nhà đã chọn "Bán & cho thuê cùng CBRE" , và hài lòng khi tìm được khách hàng nhanh chóng, chốt giao dịch với giá tốt nhất dưới sự đồng hành hỗ trợ bởi chuyên viên CBRE.
				a(href="#").btn.btn-register Đăng ký ngay