article.detail-8(k-menu-map-to='#contact')
	.buy-title.d-lg-none
		h2 Thông tin liên hệ
	.content.pt-lg-0
		p Để biết thêm thông tin chi tiết về dự án, xin vui lòng liên hệ tư vấn viên dưới đây:
		.row.manager
			.col-sm-6.col-lg-12.item
				figure
					.img
						img.w-100(src="./img/cbre/buy_detail/people_1.png", alt="")
					figcaption
						h5.name Ms Phung Do
						p.position Senior Sales Manager
						ul.navbar-nav.info
							li.nav-item Viet Nam
							li.nav-item Capital Markets
						ul.nav.btn-list
							li.nav-item
								a(href="#").nav-link
									em.mdi.mdi-phone
							li.nav-item
								a(href="#").nav-link
									em.mdi.mdi-email
			.col-sm-6.col-lg-12.item
				figure
					.img
						img.w-100(src="./img/cbre/buy_detail/people_2.png", alt="")
						//- img.w-100(src="./img/cbre/buy_detail/people_2.png", alt="")
					figcaption
						h5.name Ms Phung Do
						p.position Senior Sales Manager
						ul.navbar-nav.info
							li.nav-item Viet Nam
							li.nav-item Capital Markets
						ul.nav.btn-list
							li.nav-item
								a(href="#").nav-link
									em.mdi.mdi-phone
							li.nav-item
								a(href="#").nav-link
									em.mdi.mdi-email
	.nav-utility
		.row
			.col-4.item
				a(href="#")
					figure
						.icon
							em.mdi.mdi-map-marker
						figcaption Google map
			.col-4.item
				a(href="#")
					figure
						.icon
							img.img-fluid(src="./img/cbre/buy_detail/360.png", alt="")
						figcaption View 360
			.col-4.item
				a(href="#")
					figure
						.icon
							em.fas.fa-download
						figcaption Brochure