section.canhcam-home-1(bg-img='./img/cbre/home/home_bg.png')
	article.list-items
		.container
			.row
				.col.text-center
					h2.cbre-title các Dự án đang bán
			.row.no-gutters
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
							
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
				.col-sm-6.col-lg-4.item
					a(href="")
						figure
							.box-zoom
								img.w-100(src='./img/cbre/home/home_2.png')
								.detail.d-none Xem chi tiết
							figcaption
								h5.name De La Sol
								p.address Quận 2, TP. HCM
								ul.nav.info
									li.nav-item Căn hộ
									li.nav-item 100m
										sup 2
									li.nav-item Đã hoàn thành/Cho thuê
							.price Từ 1.5 tỷ VNĐ / căn
			.show.mt-lg-2
				a.btn.btn-show.showmore(href='#') Xem tất cả