article.detail-2
	.buy-title
		img(src="./img/cbre/buy_detail/title_icon_1.png", alt="")
		h2 Thông tin chung
	p Kiến tạo phong cách sống đẳng cấp chuẩn Manhattan. Lancaster Lincoln vươn cao đầy kiêu hãnh theo lối kiến trúc Tân cổ điển đặc trưng Mỹ ngay giữa khu trung tâm tài chính năng động bậc nhất Sài Gòn. Cho đặc quyền tầm nhìn 360 độ hướng sông và kết nối hoàn hảo Quận 1, Quận 2, Quận 7 - trái tim thành phố dành riêng cho chủ nhân thành đạt.
	p.see-more
		a(href="#") Xem chi tiết