section.detail-9
	.container
		.buy-title
			img(src="./img/cbre/buy_detail/title_icon_7.png", alt="")
			h2 Các căn hộ khác của lancaster lincoln đang Bán
		h4.title.d-none.d-lg-block Tổng cộng 135 căn hộ bán
		.content
			.detail.d-none.d-lg-block
				.row.no-gutters
					.col-5
						p.mb-0.text-center Giá
					.col-4
						.row
							.col-3
								p.mb-0.text-center Diện tích
							.col-5
								p.mb-0.text-center m
									sup 2
									| Giá
							.col-4
								p.mb-0.text-center Phòng
					.col-3.text-left
						p.mb-0.text-center Người bán
			- for(i=0;i<11;i++)
				.item
					.row
						.col-5
							.img-map-to.h-100.d-lg-none
							.d-lg-flex.align-items-lg-center
								.img.h-100(bg-img='./img/cbre/buy_detail/buy_detail_1.png' k-menu-map-to='.img-map-to')
									img.w-100.d-none.d-lg-block(src="./img/cbre/buy_detail/buy_detail_1.png", alt="")
								.price(k-menu-map-to='.price-text')
									h5 4.843 tỷ
									span.name Ancaster Lincoln - Căn hộ A10
						.col-7.pl-0.col-lg-4.text-lg-center.py-sm-4.py-lg-0
							.row.list-info
								.col-12.d-lg-none
									.price-text
								.col-5.info.col-sm-3.col-lg-3
									p 97 m
										sup 2
									span 10 tầng
								.col.col-lg-5.d-none.d-lg-block
									.acreage
										p.mb-0 49,923,500 đ/ m
											sup 2
								.col-5.col-lg-4
									.room.justify-lg-content-center
										.room-info.d-lg-flex.align-items-center
											span.fas.fa-bed
											p.mb-0.ml-2 2
										.room-info.d-lg-flex.align-items-center
											span.fas.fa-bath
											p.mb-0.ml-2 2
								.phone.d-none.d-sm-block.d-lg-none
									a.btn.btn-phone(href="./img/cbre/")
										em.mdi.mdi-phone
											
							.row
								.col
									a.d-lg-none(href="#") Thông tin căn hộ
						.col-3.d-none.d-lg-flex.buyer
							figure
								.people
									img.w-100(src="./img/cbre/buy_detail/people_1.png", alt="")
								figcaption
									p Liên hệ người bán
									span Thông tin căn hộ