section.canhcam-why-1
	.container
		.row
			.col
				h1.small-title vì sao chọn cbre
		.row.list
			- for(i=1; i<13; i++)
				.col-lg-4.item
					figure
						.icon
							img(src="./img/cbre/why/icon_" + i + ".png", alt="")
						figcaption
							h5.title Được hỗ trợ mọi lúc
							p Chuyên viên CBRE am hiểu từng khu vực sẽ hỗ trợ bạn tất cả mọi vấn đề và đưa ra lời khuyên phù hợp nhất
