section.canhcam-step-1
	.container
		.row
			.col
				h1.small-title Quy trình bán & cho thuê
		.row
			-for(i=1; i<7; i++)
				.col-md-6.item
					.row
						.col-sm-2
							img.img-fluid(src="./img/cbre/step/step_"+ i + ".png", alt="")
						.col-sm-10
							.text
								h3.title 1. tìm hiểu thị trường
								p Truy cập vào CBRE để xem giá bán & cho thuê nhà đất trung bình tại khu vực lân cận nhà của bạn.