section.canhcam-slider-1
	article
		.item(bg-img='./img/cbre/home/home_banner.png')
			
			.title
				.container
					.list-button.d-lg-none
						ul.nav
							li.nav-item
								a.nav-link(href="#") Mua
							li.nav-item
								a.nav-link(href="#") Thuê
					.banner-tabs.d-none.d-lg-block
						ul#ccTabs.nav.nav-tabs(role="tablist")
							li.nav-item
								a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Mua
							li.nav-item
								a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Thuê
								
						#ccTabsContent.tab-content
							#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab")
								.search-table
									.row
										.col-ll-6
											.form-group
												input.form-control(type="text" placeholder='Vui lòng nhập tên dự án/ địa chỉ...' )
										.col
											.form-group
												.select
													select.form-control
														option Danh mục BĐS
														option long
														option toàn
														option cường
														option hiền
										.col
											.form-group
												button.btn.btn-primary(type='button' )
													| tìm kiếm
													em.fas.fa-search.ml-2
									.row
										.col-ll-8
											.row
												.col
													.form-group
														.select
															select.form-control
																option Loại dự án
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select
															select.form-control
																option Vị trí
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select
															select.form-control
																option Giá
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select
															select.form-control
																option Phòng ngủ
																option long
																option toàn
																option cường
																option hiền
							#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab")
								.search-table
									.row
										.col-ll-6
											.form-group
												input.form-control(type="text" placeholder='Vui lòng nhập tên dự án/ địa chỉ...' data-mh='input-2')
										.col
											.form-group
												.select(data-mh='input-2')
													select.form-control
														option Danh mục BĐS
														option long
														option toàn
														option cường
														option hiền
										.col
											.form-group
												button.btn.btn-primary(type='button' data-mh='input-2')
													| tìm kiếm
													em.fas.fa-search.ml-2
									.row
										.col-ll-8
											.row
												.col
													.form-group
														.select(data-mh='input-2')
															select.form-control
																option Loại dự án
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select(data-mh='input-2')
															select.form-control
																option Vị trí
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select(data-mh='input-2')
															select.form-control
																option Giá
																option long
																option toàn
																option cường
																option hiền
												.col
													.form-group
														.select(data-mh='input-2')
															select.form-control
																option Phòng ngủ
																option long
																option toàn
																option cường
																option hiền
