section.canhcam-contact-1
	.container
		.row
			.col
				h1.small-title Liên hệ
		.row.contact
			.col-lg-6
				figure
					.img
						img.w-100(src="./img/cbre/contact/contact_1.png", alt="")
					figcaption
						.logo-img
							img.img-fluid(src="./img/cbre/contact/contact_2.png", alt="")
						.info
							p Lầu 12, Tòa Nhà Mê Linh Point, Số 2 Ngô Đức Kế, Quận 1, TP.HCM
							p Điện thoại: +84 28 3824 6125
							p Fax: +84 28 3823 8418
			.col-lg-6
				.contact-form
					span.note Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho CBRE, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
					.row.form
						.col-md-6
							.form-group
								input.form-control(type='text' placeholder='Họ và tên*...')
						.col-md-6
							.form-group
								input.form-control(type='text' placeholder='Email*...')
						.col-md-6
							.form-group
								input.form-control(type='text' placeholder='Tiêu đề*...')
						.col-md-6
							.form-group
								input.form-control(type='text' placeholder='Số điện thoại*...')
						.col-12
							.form-group
								textarea.form-control(name="", cols="30", rows="10" placeholder='Nội dung*...')
					button(type="submit").btn.btn-send Gửi
					p.important Những trường có dấu * là bắt buộc
