section.canhcam-form-1
	.container
		
		.form
			h1.cbre-title.text-center  Đăng nhập
			.other-login.mb-4.d-none.d-lg-block
				a(href="#").item.fb
					.icon
						em.fab.fa-facebook-f
					.login
						p.mb-0 Đăng ký bằng Facebook
				a(href="#").item.gg
					.icon
						em.fab.fa-google-plus-g
					.login
						p.mb-0 Đăng ký bằng Google
				p.mb-0.text-center.mt-4 Hoặc
			.form-login
				.row.item
					.col-lg-3
						label Nhập email/số điện thoại *
					.col-lg-9
						.form-group
							input.form-control(type="text")
				.row.item
					.col-lg-3
						label Nhập mật khẩu *
					.col-lg-9
						.form-group
							input.form-control(type="password")
				.row.item
					.col.offset-lg-3
						.form-checkbox
							input(type='checkbox')
							label Nhớ mật khẩu
					.col.text-right.d-none.d-lg-block
						a(href="#").getpass Quên mật khẩu
				.row.item
					.col-lg-9.offset-lg-3
						.button
							button.text-uppercase(type='submit') đăng nhập
							p.mb-0
								span.d-lg-none Quên mật khẩu? 
								span.d-none.d-lg-inline-block Bạn chưa có tài khoản? 
								a(href="#")  Đăng ký