article.detail-7
	.buy-title
		img(src="./img/cbre/buy_detail/title_icon_6.png", alt="")
		h2 bảng tính
	.content
		.row
			.col-lg-7
				.calculator
					.row.item
						.col-4.col-lg-5.title
							p.mb-0 Số tiền vay
						.col-8.col-lg-7
							.form-group
								input.form-control(type="text" placeholder='500,000,000 đ')
					.row.item
						.col-4.col-lg-5.title
							p.mb-0 Lãi suất hàng năm (%)
						.col-8.col-lg-7
							.form-group
								input.form-control(type="text" placeholder='12')
					.row.item
						.col-4.col-lg-5.title
							p.mb-0 Thời hạn trả nợ (năm)
						.col-8.col-lg-7
							.form-group
								input.form-control(type="text" placeholder='10')
					.row.item
						.col-4.col-lg-5.title
							p.mb-0 Thanh toán hàng tháng
						.col-8.detail.col-lg-7
							p.mb-0 7,173,547.42 đ
					.row.item
						.col-4.col-lg-5.title
							p.mb-0 Tổng thanh toán
						.col-8.detail.col-lg-7
							p.mb-0 7,173,547.42 đ
					.row.item.active
						.col-4.col-lg-5.title
							p.mb-0 Tổng lãi
						.col-8.detail.col-lg-7
							p.mb-0 7,173,547.42 đ
			.col-lg-5
				.img.text-center
					img.img-fluid(src="./img/cbre/buy_detail/circle.png", alt="")