section.project-detail-1
	
	.container
		.buy-title
			img(src="./img/cbre/project_detail/picture.png", alt="")
			h2 Hình ảnh
		.row.justify-content-center
			.col-lg-10
				article.owl-carousel.owl-theme
					.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
					.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
					.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
