article.detail-5
	.buy-title
		img(src="./img/cbre/buy_detail/title_icon_4.png", alt="")
		h2 chủ đầu tư
	.top-content
		.logo
			img.img-fluid(src="./img/cbre/buy_detail/logo_1.png", alt="")
		span Trung Thủy Group (TTG Holding) được thành lập từ năm 1995 chuyên hoạt động trong các lĩnh vực: Bất động sản, Nông nghiệp công nghệ cao, Dịch vụ thương mại, Nhà hàng – Khách sạn, Du lịch... Với trọng tâm đầu tư và phát triển các dự án căn hộ cao cấp, TTG Holding đã trở thành một trong những thương hiệu bất động sản hàng đầu Việt Nam.
	p.mb-0 Tiên phong trong những thiết kế độc đáo và thông minh, TTG Holding luôn nỗ lực tạo ra không gian sống đầy tính mỹ thuật và đảm bảo chất lượng, nâng cao cuộc sống con người và duy trì những giá trị bền vững cho thế hệ sau. 
	p.mb-0 Mọi sản phẩm đều bắt đầu và kết thúc bằng sự hài lòng của chính khách hàng.