section.canhcam-carousel-2
	.container
		.row
			.col.text-center
				h1.cbre-title dự án nổi bật
		.row
			.col
				article.owl-theme.list-items.owl-carousel
					.item
						a(href='#')
							figure
								.box-zoom
									img.w-100(src="./img/cbre/home/home_1.png", alt="")
								figcaption
									h3 D'EDGE THẢO ĐIỀN
									p.address Quận 2, TP. HCM
									ul.nav.info
										li.nav-item Căn hộ
										li.nav-item 100m
											sup 2
										li.nav-item Đã hoàn thành/Cho thuê
									.price Từ 1.5 tỷ VNĐ / căn
					.item
						a(href='#')
							figure
								.box-zoom
									img.w-100(src="./img/cbre/home/home_1.png", alt="")
								figcaption
									h3 D'EDGE THẢO ĐIỀN
									p.address Quận 2, TP. HCM
									ul.nav.info
										li.nav-item Căn hộ
										li.nav-item 100m
											sup 2
										li.nav-item Đã hoàn thành/Cho thuê
									.price Từ 1.5 tỷ VNĐ / căn
					.item
						a(href='#')
							figure
								.box-zoom
									img.w-100(src="./img/cbre/home/home_1.png", alt="")
								figcaption
									h3 D'EDGE THẢO ĐIỀN
									p.address Quận 2, TP. HCM
									ul.nav.info
										li.nav-item Căn hộ
										li.nav-item 100m
											sup 2
										li.nav-item Đã hoàn thành/Cho thuê
									.price Từ 1.5 tỷ VNĐ / căn
		.show.d-lg-none
			a.btn.btn-show.showmore Xem tất cả
			a.btn.btn-show.showless Thu gọn