article.detail-1
	.owl-carousel.owl-theme
		.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
		.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
		.item(bg-img="./img/cbre/buy_detail/buy_detail_1.png")
	.details
		.item
			figure
				.img
					img.img-fluid(src="./img/cbre/buy_detail/icon_1.png", alt="")
				figcaption
					p Giá
						span 4.5 
						| tỷ/căn
		.item
			figure
				.img
					img.img-fluid(src="./img/cbre/buy_detail/icon_2.png", alt="")
				figcaption
					p Diện tích
						span 85 
						| m
						sup 2