article.detail-3
	.buy-title
		img(src="./img/cbre/buy_detail/title_icon_2.png", alt="")
		h2 Chi tiết căn hộ
	.row.table-wrap
		.col-lg-6
			.buy-table.table-responsive
				table.table
					tbody
						tr
							th Block nhà:
							td Tháp A
						tr
							th Tầng thứ:
							td 10
						tr
							th Loại căn hộ:
							td 2 phòng ngủ , 3WC
						tr
							th Thông tin căn hộ:
							td căn Loft , có gác lửng
						tr
							th Giấy tờ:
							td Sổ hồng chính chủ
		.col-lg-6
			.buy-table.table-responsive
				table.table
					tr
						th Diện tích xây dựng:
						td 85 m2
					tr
						th Diện tích thông thủy:
						td 78.5m2
					tr
						th Hướng nhà:
						td Hướng Tây - nam
					tr
						th Giá bán:
						td 4.5ty VNĐ / căn