extends _layout/layout.pug
block variables
	- var title = "login"
	- var description = "Description for login page"
	- var bodyclass = "login"
	- var href = "/login.html"
block header
	include ../lib/header/h-4/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/login/l-1/index.pug
block footer
	include ../lib/footer/f-11/index.pug
