extends _layout/layout.pug
block variables
	- var title = "register"
	- var description = "Description for register page"
	- var bodyclass = "register"
	- var href = "/register.html"
block header
	include ../lib/header/h-4/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/register/r-1/index.pug
block footer
	include ../lib/footer/f-11/index.pug
