extends _layout/layout.pug
block variables
	- var title = "sell-list"
	- var description = "Description for sell-list page"
	- var bodyclass = "sell-list"
	- var href = "/sell-list.html"
block body
	include ../lib/breadcrumb/b-1/index.pug
