extends _layout/layout.pug
block variables
	- var title = "team"
	- var description = "Description for team page"
	- var bodyclass = "team"
	- var href = "/team.html"
block header
	include ../lib/header/h-4/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/team/t-1/index.pug

block footer
	include ../lib/footer/f-11/index.pug