section.canhcam-team-1
	.container
		.row
			.col
				h1.small-title Đội ngũ CBRE
		.row
			-for(i = 0; i < 10; i++)
				.col-lg-6.item
					.row.no-gutters
						.col-sm-6
							img.w-100(src="./img/cbre/team/team_1.png", alt="")
						.col-sm-6
							.info
								h5.name Ms. Hang Dang
								.position 
									p Managing Director
									p Head of Valuation Service
								span Asia Pacific