article.detail-6
	.buy-title
		img(src="./img/cbre/buy_detail/title_icon_5.png", alt="")
		h2 Vị trí dự án
	.content
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.64296934296!2d106.704975!3d10.786671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4123a38e10c2885!2zUFZPSUwgVOG7lE5HIEPDlE5HIFRZIEThuqZVIFZJ4buGVCBOQU0!5e0!3m2!1svi!2sus!4v1536653990846" width="100%" height="350px" frameborder="0" style="border:0;")