section.canhcam-home-3
	.container
		.row
			.col-lg-9
				.top-news
					h3.cbre-title Phân tích thị trường
					.row
						.col-md-6.item
							a(href="#")
								.row.no-gutters
									.col-sm-6
										.img.h-100(bg-img='./img/cbre/home/home_3.png')
											img.w-100.d-sm-none(src="./img/cbre/home/home_3.png", alt="")
									.col-sm-6
										.news
											time 21/04/2018
											h5.title Nghiên cứu thị trường & Tư vấn đầu tư bất động sản 2018
											p.content Đội ngũ Nghiên cứu thị trường & Tư vấn đầu tư với hơn 25 chuyên viên làm việc tại 3 văn phòng lớn của Việt Nam là TP.HCM, Hà Nội, và Đà Nẵng.
							
						.col-md-6.item
							a(href="#")
								.row.no-gutters
									.col-sm-6
										.img.h-100(bg-img='./img/cbre/home/home_3.png')
											img.w-100.d-sm-none(src="./img/cbre/home/home_3.png", alt="")
									.col-sm-6
										.news
											time 21/04/2018
											h5.title Nghiên cứu thị trường & Tư vấn đầu tư bất động sản 2018
											p.content Đội ngũ Nghiên cứu thị trường & Tư vấn đầu tư với hơn 25 chuyên viên làm việc tại 3 văn phòng lớn của Việt Nam là TP.HCM, Hà Nội, và Đà Nẵng.
				.bottom-news
					h3.cbre-title Tiêu điểm thị trường
					.row
						.col-md-4.item
							a(href="#")
								figure
									.img
										img.w-100(src="./img/cbre/home/home_4.png", alt="")
									figcaption
										time 21/04/2018
										h5.title Nghiên cứu thị trường & Tư vấn đầu tư bất động sản 2018
										p.content Đội ngũ Nghiên cứu thị trường & Tư vấn đầu tư với hơn 25 chuyên viên làm việc tại 3 văn phòng lớn của Việt Nam là TP.HCM, Hà Nội, và Đà Nẵng.
						.col-md-4.item
							a(href="#")
								figure
									.img
										img.w-100(src="./img/cbre/home/home_4.png", alt="")
									figcaption
										time 21/04/2018
										h5.title Nghiên cứu thị trường & Tư vấn đầu tư bất động sản 2018
										p.content Đội ngũ Nghiên cứu thị trường & Tư vấn đầu tư với hơn 25 chuyên viên làm việc tại 3 văn phòng lớn của Việt Nam là TP.HCM, Hà Nội, và Đà Nẵng.
						.col-md-4.item
							a(href="#")
								figure
									.img
										img.w-100(src="./img/cbre/home/home_4.png", alt="")
									figcaption
										time 21/04/2018
										h5.title Nghiên cứu thị trường & Tư vấn đầu tư bất động sản 2018
										p.content Đội ngũ Nghiên cứu thị trường & Tư vấn đầu tư với hơn 25 chuyên viên làm việc tại 3 văn phòng lớn của Việt Nam là TP.HCM, Hà Nội, và Đà Nẵng.
			.col-lg-3
				.sale
					.row
						.col.col-lg-12.item.first
							
							figure
								.box-zoom
									img.w-100(src="./img/cbre/home/home_5.png", alt="")
								figcaption(bg-img='./img/cbre/home/home_color_1.png')
									h4 Gem Riverside
									h5 Giảm 5% từ hôm nay
						.col.col-lg-12.item.second
							
							figure
								.box-zoom
									img.w-100(src="./img/cbre/home/home_6.png", alt="")
								figcaption(bg-img='./img/cbre/home/home_color_2.png').text-right
									h4 Gem Riverside
									h5 Giảm 5% từ hôm nay